.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}
.header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}
